body {
    font-size: 10px;
}
/*estilo cabecalho*/

.container{
  background-color: aliceblue;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0%;
  position: fixed;
  z-index: 10;
}

.logo-cabecalho img {
  width: 70px;
  height: 70px;
  margin-left: 15px;
}

.container-link{
  margin-right: 15px;  
  display: flex;
}

ul li {
  text-decoration: none;
  display: inline;
  justify-content: space-between;
  padding: 10px;
}

ul li a:hover{
  background-color: royalblue;
  color: white;
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50px;
}


ul li a{
  text-decoration: none;
  color: black;
  font-size: 10px;
}


@media (min-width: 834px){
  .container-link {
    margin-top: 8px;
    margin-right: 60px;
    display: flex;
  }

  .logo-cabecalho img {
    width: 70px;
    height: 70px;
    margin-left: 60px;
  }
  
  ul li {
    text-decoration: none;
    display: inline;
    justify-content: space-between;
    padding: 10px;
  }
  
  ul li a:hover {
    background-color: royalblue;
    color: white;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 50px;
  }
  
  
  ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
  }
  .container-carro{
    margin-top: -300px;
  }
}


.carro{
  width: 100%;
  height: auto;
  z-index:-1;
  opacity: 90%;
}

.botao-whatsapp{
  display: flex;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 9;
}
.botao-whatsapp img{
  width: 70px;
}

.rodape{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 120px;
  bottom: 0px;
  background-color: royalblue;
}

.logo-rodape{
  width: 70px;
}